/*-----------*/
/* Variables */
/*-----------*/
:root{
    --CoulFond : black;

    /* Police d'écriture */
    --StylePolice : Dubai Light;
    --CoulPolice  : red;

    --TailleTitre1 : 32px;

    /* Taille des éléments de recherche */
    --TailleSearchBar  : calc(var(--TailleBtnValider) + var(--TailleLstChoix));
    --TailleBtnValider : 62px;
    --TailleLstChoix   : 158px;
}



/*---------------------*/
/* ENSEMBLE de la page */
/*---------------------*/
/* *{
    margin : 0px;
    padding : 0px;
} */

html {
    background-color: var(--CoulFond);
    font-family: var(--StylePolice);
    color : var(--CoulPolice)
}



/*--------------*/
/* HAUT de page */
/*--------------*/
/* Titre principale */
h1 {
    text-align : center;
}


/* Ensemble de la partie recherche */
.recherche {
    float : right;
    margin-right : 10px;
    margin-top : -53px;
    
}


/* Barre de recherche */
.searchBar {
    width         : var(--TailleSearchBar);
}


/* Liste de trie */
select {
    width: var(--TailleLstChoix);
}


/* Bouton valider */
.btnValider {
    width: var(--TailleBtnValider);
}



/*---------------*/
/* CORPS de page */
/*---------------*/
main{
    margin-top : 80px;
    margin-left : 50px;
    margin-right : 50px;
}



/*------*/
/* Test */
/*------*/
