* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: arial,sans-serif;
    background-color: black;
}

.A3 {
    color : white;
}

/*********labels qui servent de boutton*********/
.A6 .A3{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 32px;
    cursor: pointer;
}

/* #ss_part_toggle {
    position: relative;
    cursor: pointer;
    display: block;
    background: #3E3E3E;
    background: -webkit-linear-gradient(90deg, #383838, #3e3e3e);
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    padding: 15px;
    color: #BDBDBD;
    text-shadow: #727272 0px -1px 1px;
    font-weight: bold;
} */

/*************checkbox**************/
.A1 , .A4{
    display: none;
}

/**************nav principal***************/
.A2 {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background: #3B3B3B;
    overflow: auto;
    transition: width 0.3s ease;
    margin:0;
    padding: 0;
}

/***********liens dans le nav principal**************/
/* .A2 a{
    display: block;
    background: #3E3E3E;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: #BDBDBD;
    text-shadow: #727272 0px -1px 1px;
    font-weight: bold;
    padding: 15px;
} */


/*************sous nav****************/
#ss_part{
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    margin:0;
    padding: 0;
    background: #3B3B3B;
}


#ss_part a{/*************liens du sous nav**********/
    display: inline-block;
    width: 100%;
    color: #888;
    padding-left: 35px;
    background: #2B2B2B;
    background: linear-gradient(#2B2B2B, #262626);
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #1C1C1C;
}





.A5 {/*************contenu du site***************/
    position:relative;
    float: right;
    width: 80%;
    transition: width 0.3s ease;
    z-index: 999; /*on le met par dessus tout, pour éviter que le sous-menu passe par dessus le contenu, lorsqu'il est ouvert et que le menu principal est fermé*/
}


/*lorsque le symbole du nav est coché*/
#A1:checked + #A2 {				/* note: note: la checkbox est coché par defaut*/
    width: 0;											/*on cache le nav*/
}
#A1:checked  ~ .A5 {
    width: 100%;										/*le contenu prend toute la place*/
}
#A1:checked ~ .A5 .close-menu {
    display: block;
}
#A1:checked ~ .A5 .open-menu {
    display: none; 
}
#A1:checked ~ .A5 .A6 {
    width: 100%;									/*le header prend tout la largeur*/
    left: 0;										/*aucun espace à gauche*/
}



/*losrque "Section1" est coché*/
#A4:checked ~ #ss_part {
    height: 104px;
}