:root{
    --tailleBordureNav : 3%;
}




* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    margin: 0;
    background-color: black;
}

.labelBorderNav {
    color : white;
}


/*************checkbox**************/
.menu {
    display: none;
}

/**************nav principal***************/
nav {
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    background: blue;
    overflow: auto;
    transition: width 0.5s ease;
    margin:0;
    padding: 0;
}




/*************contenu du site***************/
.ensPage {
    position : relative;
    float : right;
    width : 80%;
    transition: width 0.5s ease;
    z-index: 999; /*on le met par dessus tout, pour éviter que le sous-menu passe par dessus le contenu, lorsqu'il est ouvert et que le menu principal est fermé*/
}


/*---------------------------------------------------------------------------------*/


/* lorsque le symbole du nav est coché */
#menu:checked + nav                  { width  : 0;     }
#menu:checked ~ .ensPage .close-menu { display: block; }
#menu:checked ~ .ensPage .open-menu  { display: none;  }
#menu:checked ~ .ensPage             { width  : 100%;  }


.borderNav {
    position: fixed;
    cursor: pointer;
    background-color: gray;
    height: 100%;
    width: var(--tailleBordureNav);
    text-align: center;
}

.labelBorderNav {
    padding-top: 100px;
}

.borderNav::after {
    content : "◀";
    vertical-align: middle;
    height: 100%;
    /* ☰ */
}

#menu:checked ~ .ensPage .borderNav::after {
    content : "▶";
    vertical-align: middle;
    height: 100%;
}

main {
    margin-left: calc(var(--tailleBordureNav) + 1% + 20px);
}

nav {
    text-align: center;
}

.instagram {
    width: 25%;
    margin: 0px;
}

.imageInsta {
    width: 100%;
    margin: 0px;
}

.navigation ul {
    list-style-type: none;
    position: absolute;
    text-align: left;
    margin-left: 0px;
}