/*-----------*/
/* Variables */
/*-----------*/
:root{
    --coulFond : white;

    /* Police d'écriture */
    --stylePolice : Dubai Light;
    --coulPolice  : black;
    --coulTitre   : red;

    --tailleTitre1 : 32px;


    /* Taille des éléments de recherche */
    --tailleSearchBar  : calc(var(--tailleBtnValider) + var(--tailleLstChoix) + 4px);
    --tailleBtnValider : 62px;
    --tailleLstChoix   : 158px;


    /* Taille des éléments de navigation */
    --tailleBordureNav : 2%;
    --tailleNav : 15%;
    --tailleImgInsta : calc(var(--tailleNav) + 5%);

    --tailleDelimitation : 1px; /* taille du traie qui délimite la navigation et la bordure de navigation */


    /* Taille des éléments de la page d'accueil */
    --tailleImgPortrait : 28.5%;
    --tailleImgPaysage : 63.3%;

    --espacementImage : var(--tailleBordureNav); /* Espacement entre les images */


    /* Couleur des éléments de navigation */
    --coulBordureNav : Lightgray;
    --coulDelimitation : black; /* couleur du traie qui délimite la navigation et la bordure de navigation */



}




/*---------------------*/
/* ENSEMBLE de la page */
/*---------------------*/
*         { margin  : 0; box-sizing: border-box; }
*:not(ul) { padding : 0; }


html {
    background-color: var(--coulFond);
    font-family: var(--stylePolice);
    color : var(--coulPolice);
}



/*--------------*/
/* HAUT de page */
/*--------------*/
/* Titre principale */
h1 {
    /* position: static; */
    margin-left: var(--tailleSearchBar);
    text-align : center;
    color : var(--coulTitre);
}


/* Ensemble de la partie recherche */
.divRecherche {
    position:relative;
    float: right;
    margin-right : 5px;
}


/* Barre de recherche */
.searchBar { width : var(--tailleSearchBar); }


/* Liste de trie */
select { width: var(--tailleLstChoix); }


/* Bouton valider */
.btnValider { width: var(--tailleBtnValider); }



/*------------*/
/* Navigation */
/*------------*/
/* Ensemble de la navigation */
nav {
    position: fixed;
    width: var(--tailleNav);
    height: 100%;
    overflow: auto;
    transition: width 0.5s ease;
    text-align: center;
    background-color: var(--coulBordureNav);

    /* delimiitation entre la navigation et la bordure de la navigation */
    border-right: solid var(--coulDelimitation) var(--tailleDelimitation);
}


/* checkbox pour ouvrir et fermer le menu */
.menu { display: none; }


/* Bodure de la navigation */
.borderNav {
    position: fixed;
    cursor: pointer;
    background-color: var(--coulBordureNav);
    height: 100%;
    width: var(--tailleBordureNav);
    text-align: center;
}


/* Ecriture dans la bordure de la navigation quand le menu est ouvert */
.borderNav::after {
    content : "◀";
    color: var(--coulFond);
}


/* Ecriture dans la bordure de la navigation quand le menu est fermer */
#menu:checked ~ .ensPage .borderNav::after {
    content : "▶";
    color: var(--coulFond);
}


/* Instagram */
.instagram {
    width: var(--tailleImgInsta);
}

.imageInsta {
    width: 100%;
    /* filter: invert(100%); */
}


/* Liste dans la navigation */
.navigation ul {
    list-style-type: none;
    text-align: center;
    margin-top: 50%;
    width: 80%;

    font-weight: bold;
}

li {
    margin-top : var(--tailleNav);
}


/* Style des liens */
a {
    text-decoration: none;
    color : var(--coulPolice);
}


/* lorsque le symbole du nav est coché */
#menu:checked + nav                  { width  : 0;     }
#menu:checked ~ .ensPage             { width  : 100%;  }



/*---------------*/
/* CORPS de page */
/*---------------*/
/* Ensemble du corps de la page + la bordure de navigation */
.ensPage {
    position : relative;
    float : right;
    width : calc(100% - var(--tailleNav));
    transition: width 0.5s ease;
}


/* Ensemble du corps de la page */
main {
    margin-left: var(--tailleBordureNav);

    margin-top : calc(var(--espacementImage) * 4)
}


/* Photo de voiture */
main img {
    margin-right  : var(--espacementImage);
}


/* ajustement de la taille en fonction du format de l'image */
.portrait {
    width: var(--tailleImgPortrait);
}

.paysage {
    width: var(--tailleImgPaysage);
}


/* groupe les photos par deux */
.lignePhoto {
    margin-top: var(--espacementImage);
    margin-left: calc(var(--espacementImage) * 2.8);
}



/*------*/
/* Test */
/*------*/